@import "./variables.scss";
@import "./mixins.scss";

html,
body {
  margin: 0;
  min-height: 100%;
  padding: 0;
  width: 100%;
  overflow-x: hidden;
}

* {
  box-sizing: border-box;
  font-family: inherit;
  outline: none;
  transition: all 300ms;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-tap-highlight-color: transparent;

  &::selection {
    background-color: $color-green-alt;
    color: white;
  }
}

input,
textarea {
  caret-color: $color-blue;
  outline: none;
}

button,
a {
  cursor: pointer;
  outline: none;
  user-select: none;
}

.page-title {
  text-align: center;
}

.button-link {
  @include base-button;
  color: $color-blue;
}

.form-group {
  border-bottom: $border;
  display: flex;
  padding: 5px;

  &-input {
    border: none;
    background-color: transparent;
    flex: 1;
    font-size: 16px;
    padding: 0 4px;
  }
}

.checkbox {
  background-color: #ffffff;
  border: $border;
  border-radius: 3px;
  display: inline-block;
  height: 16px;
  transition: all 300ms;
  width: 16px;

  .check {
    color: #ffffff;
    font-size: 14px;
  }

  &.checked {
    background-color: $color-blue;
    border-color: $color-blue;
  }
}

.hidden-input {
  appearance: none;
  height: 1px;
  position: absolute;
  width: 1px;
}

.grey-text {
  color: $color-grey;
}

.blue-text {
  color: $color-blue;
}

.red-text {
  color: $color-red;
}

.green-text {
  color: $color-green;
}

.icon-small {
  font-size: 16px;
}

.icon-button {
  @include base-button();
  align-items: center;
  display: flex;
  height: 30px;
  justify-content: center;
  padding: 3px;
  width: 30px;

  i {
    font-size: 20px;
  }
}

.edit-button,
.delete-button {
  opacity: 0.5;

  &:active,
  &:focus,
  &:hover {
    opacity: 1;
  }
}

.modal-open {
  overflow: hidden;
  height: 100vh;
}

.align-center {
  align-self: center;
}

.post-text {
  align-self: center;
  font-size: 14px;
}
